name: Rollbar-go CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - '1.7'
          - '1.8'
          - '1.9'
          - '1.10'
          - '1.11'
          - '1.12'
          - '1.13'
          - '1.14'
          - '1.15'

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install go
        uses: actions/setup-go@v2
        with:
          node-version: ${{ matrix.go-version }}

      - name: Run tests
        run: go test
